body{

    background-color: #24353F;
}

.form{

    background-color:  #24353F;
}

.form input{

    background-color: transparent;
}

.form input:focus{

    background-color: transparent;
    outline:none;
    border: 1px solid #31D2F2;
    color: #fff;
}

a{

    text-decoration: none;
}